{% render 'partials/head.liquid' %}

<header>



</header>


<h1>Selecteer Speler</h1>


  <a class="filter" href="/za" >Naam z → a</a>
 

<main>
  
{% comment %} {% if person.mugshot %} {% endcomment %}
  
{% comment %} {% else %} {% endcomment %}
 
{% comment %} {% endif %} {% endcomment %}

 <ul class="galerij">
{% for person in persons %}
  {% if person.mugshot %}

    <li class="fifa-kaart">
      <p class="id">{{ person.id }}</p>
      <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="{{ person.name }}">
    </li>
   
   
  {% else %}
    <li class="fifa-kaart"> 
       <p class="id">{{ person.id }}</p> 
    <img src="/assets/voorbeeldfoto.png" alt="placeholder">  
   </li>
  {% endif %}
{% endfor %}

</ul>



</main>

{% render 'partials/foot.liquid' %}

