:root {

  /* Colours */
  --bg-color: #2F2F2F;
  --primairy-bg-color-gallery: #3E3E3E;
  --secundairy-bg-color-gallery: gold;
  --bg-color-card: linear-gradient(to bottom right, #d4af37, #f8e7a0);
  --primairy-text-color: white;
  --shadow-color: 0 0 20px rgba(0, 0, 0, 0.3);
  --arrow-color: #D9D9D9;

  /* font */
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 15px;
  --font-size-xs: 11px;
}

@font-face {
  font-family: 'fifafont';
  src: url('/fonts/fifawelcome1.3.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {

  background-color: var(--bg-color);

}


h2 {
  font-size: var(--font-size-l);
  font-family: 'fifafont', Arial, Helvetica, sans-serif;
  color: var(--primairy-text-color);
  text-align: center;
  letter-spacing: 1px;

}

.filter {
  margin-left: 95px;
  padding-bottom: 50px;
  color: var(--primairy-text-color);
  font-size: --font-size-s;
  font-family: 'fifafont', Arial, Helvetica, sans-serif;
  text-decoration: none;

}


main {
  display: flex;
  position: relative;
}

.galerij {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  height: 230px;
  background-color: var(--primairy-bg-color-gallery);
  gap: 30px;
  width: 75%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;


  p {
    color: white;
    letter-spacing: 1px;

    font-size: var(--font-size-m);
    font-family: 'fifafont', Arial, Helvetica, sans-serif;

  }

  anchor-name:--carousel;

  &::scroll-button(*) {
    position: absolute;

    position-anchor: --carousel;

    width: 30px;
    height: 30px;

    background-color: var(--arrow-color);

    border: none;

    font: inherit;
    

    

    transition: .3s;
  }

  &::scroll-button(left) {
    content: '←' / 'Previous';
    color: var(--primairy-text-color);
    left: 30px;
    top: 40%;
    margin-inline-start: .5em;
    background: none;
    scale: 2;
    cursor: pointer;
    ;
  }

  &::scroll-button(right) {
    content: '→' / 'Next';
    color: var(--primairy-text-color);
    scale: 2;
    background: none;
    cursor: pointer;

    right: 30px;
    top: 40%;
    margin-inline-end: .5em;
  }

  &::scroll-button(*):disabled {
    opacity: .5;
  }
}

.galerij::-webkit-scrollbar {
  height: 4px;
}

.galerij::-webkit-scrollbar-thumb {
  background: var(--secundairy-bg-color-gallery);
}

.fifa-kaart {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  scroll-snap-type: x mandatory;
  transition: 0.5s ease-in-out;

  margin-top: 30px;
  padding: 10px;

  justify-content: center;
  /* horizontaal centreren */
  align-items: center;

  background: var(--bg-color-card);
  /* goud look */
  border-radius: 20px;
  box-shadow: var(--shadow-color);
  width: 200px;
  height: 140px;
  clip-path: polygon(20% 0%,
      /* Linker schuine bovenhoek */
      80% 0%,
      /* Rechter schuine bovenhoek */
      100% 15%,
      /* Rechts onder de hoek */
      100% 85%,
      /* Rechts boven de punt */
      50% 100%,
      /* Punt onderin */
      0% 85%,
      /* Links boven de punt */
      0% 15%
      /* Links onder de hoek */
    );

  .id {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
  }
}

.fifa-kaart:hover {
  scale: 1.2;
}

h1 {
 
  color: white;
  letter-spacing: 1px;
  text-align: center;
    font-family: 'fifafont';

}


img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  mix-blend-mode: multiply;
}

input {
  background-color: gray;
  border: none;
  font-family: 'fifafont';
}

input::placeholder {
  color: black;
   border: none;
    font-family: 'fifafont';
}

button {
  background-color: black;
  color: white;
   font-family: 'fifafont';
}




.upperlayout {
  display: grid;
  grid-template-columns: 1fr 60% 1fr;

  .team-1 {
    grid-column: 1;

    h1 {
      font-family: 'fifafont';
      color: white;
      letter-spacing: 1px;
      text-align: center;
      font-size: 40px;
      margin-left: 5rem;
    }
  }

  .voetbalveld {
    margin-top: 50px;
    grid-column: 2;
    width: 80%;
    height: 70%;
    margin-left: 5%;

    background-image: url('/assets/voetbalveld.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .team-jolly {
    grid-column: 3;

    p {
    color: white;
    letter-spacing: 1px;

    font-size: var(--font-size-m);
    font-family: 'fifafont', Arial, Helvetica, sans-serif;

  }

    img{
      width: 60px;
  height: 70px;
   }

    
 li{
   width: 60px;
 height: 130px;
margin-left: 50px;
 }
  }
}

form {
  margin-left: 6rem;
  margin-top: 4rem;
}

#team {
 width: 50px;
 height: 130px;
 
 
 li{
   width: 60px;
 height: 130px;
margin-left: 50px;
 }

  p {
    color: white;
    letter-spacing: 1px;

    font-size: var(--font-size-m);
    font-family: 'fifafont', Arial, Helvetica, sans-serif;

  }
 img{
  
  width: 60px;
  height: 70px;


 }
}

